# .editorconfig
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# 윈도우 전용 파일은 CRLF가 더 편하면 예외 처리
[*.sln]
end_of_line = crlf
[*.vcxproj]
end_of_line = crlf
